/* line 1, ../FrontEnd/Projeto - Hostinger/scss/_reset.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  list-style: none;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
}

/* line 12, ../FrontEnd/Projeto - Hostinger/scss/_reset.scss */
html {
  font-size: 62.5%;
}

@media (max-width: 1280px) {
  /* line 12, ../FrontEnd/Projeto - Hostinger/scss/_reset.scss */
  html {
    font-size: 55%;
  }
}

/* line 20, ../FrontEnd/Projeto - Hostinger/scss/_reset.scss */
img {
  max-width: 100%;
}

/* line 1, ../FrontEnd/Projeto - Hostinger/scss/_grid.scss */
.container {
  width: 100%;
  max-width: 121.6rem;
  padding: 0 1.5rem;
  margin: 0 auto;
}

/* line 1, ../FrontEnd/Projeto - Hostinger/scss/_header.scss */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 11.9rem;
  background-color: #5F3CA1;
  display: flex;
}

/* line 10, ../FrontEnd/Projeto - Hostinger/scss/_header.scss */
header .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/* line 15, ../FrontEnd/Projeto - Hostinger/scss/_header.scss */
header nav ul {
  display: flex;
  align-items: center;
}

/* line 19, ../FrontEnd/Projeto - Hostinger/scss/_header.scss */
header nav ul li:not(:first-child) {
  margin-left: 5.6rem;
}

/* line 23, ../FrontEnd/Projeto - Hostinger/scss/_header.scss */
header nav ul li a {
  display: flex;
  align-items: center;
}

/* line 26, ../FrontEnd/Projeto - Hostinger/scss/_header.scss */
header nav ul li a span {
  margin-left: 1.6rem;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: #fcfcfc;
}

@media (max-width: 600px) {
  /* line 39, ../FrontEnd/Projeto - Hostinger/scss/_header.scss */
  header .container {
    justify-content: center;
  }
  /* line 43, ../FrontEnd/Projeto - Hostinger/scss/_header.scss */
  header nav {
    display: none;
  }
}

@media (max-width: 480px) {
  /* line 1, ../FrontEnd/Projeto - Hostinger/scss/_header.scss */
  header {
    height: 8rem;
  }
  /* line 50, ../FrontEnd/Projeto - Hostinger/scss/_header.scss */
  header .logo {
    max-width: 14rem;
  }
}

/* line 1, ../FrontEnd/Projeto - Hostinger/scss/_home.scss */
.s-hero {
  margin-top: 11.9rem;
  background-color: #5F3CA1;
  padding-top: 3.9rem;
}

/* line 6, ../FrontEnd/Projeto - Hostinger/scss/_home.scss */
.s-hero .container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

/* line 9, ../FrontEnd/Projeto - Hostinger/scss/_home.scss */
.s-hero .text {
  width: 100%;
  max-width: 55rem;
}

/* line 13, ../FrontEnd/Projeto - Hostinger/scss/_home.scss */
.s-hero .text h1 {
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  font-size: 4.8rem;
  line-height: 120%;
  color: #fff;
  margin-bottom: 1.6rem;
}

/* line 22, ../FrontEnd/Projeto - Hostinger/scss/_home.scss */
.s-hero .text p {
  font-size: 1.8rem;
  line-height: 150%;
  color: #fff;
  max-width: 48.8rem;
  margin-bottom: 3.2rem;
}

/* line 30, ../FrontEnd/Projeto - Hostinger/scss/_home.scss */
.s-hero .text button {
  display: inline-block;
  height: 5.4rem;
  line-height: 5.4rem;
  background-color: #FFBF00;
  border-radius: 6px;
  padding: 0px 5rem;
  font-weight: bold;
  font-size: 1.6rem;
  cursor: pointer;
  transition: all .3s;
  margin-bottom: 8.6rem;
}

/* line 25, ../FrontEnd/Projeto - Hostinger/scss/_mixins.scss */
.s-hero .text button:hover {
  background-color: #503387;
  color: #FFBF00;
}

/* line 35, ../FrontEnd/Projeto - Hostinger/scss/_home.scss */
.s-hero .text .conheca {
  display: flex;
  align-items: center;
}

/* line 39, ../FrontEnd/Projeto - Hostinger/scss/_home.scss */
.s-hero .text .conheca .icon {
  width: 4.2rem;
  height: 4.2rem;
  background-color: rgba(123, 90, 186, 0.4);
  border-radius: 0.6rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* line 46, ../FrontEnd/Projeto - Hostinger/scss/_home.scss */
.s-hero .text .conheca span {
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: #fff;
  margin-left: 1.6rem;
}

/* line 55, ../FrontEnd/Projeto - Hostinger/scss/_home.scss */
.s-hero .image {
  position: relative;
  top: 3.4rem;
}

@media (max-width: 991px) {
  /* line 61, ../FrontEnd/Projeto - Hostinger/scss/_home.scss */
  .s-hero .container {
    flex-direction: column;
  }
  /* line 63, ../FrontEnd/Projeto - Hostinger/scss/_home.scss */
  .s-hero .container .text {
    max-width: 100%;
    margin-bottom: 3rem;
  }
  /* line 66, ../FrontEnd/Projeto - Hostinger/scss/_home.scss */
  .s-hero .container .text h1 {
    text-align: center;
  }
  /* line 69, ../FrontEnd/Projeto - Hostinger/scss/_home.scss */
  .s-hero .container .text p {
    max-width: 100%;
    text-align: center;
  }
  /* line 73, ../FrontEnd/Projeto - Hostinger/scss/_home.scss */
  .s-hero .container .text button {
    margin: 0 auto;
    margin-bottom: 4rem;
    display: block;
  }
  /* line 79, ../FrontEnd/Projeto - Hostinger/scss/_home.scss */
  .s-hero .container .text .conheca {
    justify-content: center;
  }
}

@media (max-width: 600px) {
  /* line 1, ../FrontEnd/Projeto - Hostinger/scss/_home.scss */
  .s-hero {
    padding-top: 2.5rem;
    margin-top: 8rem;
  }
  /* line 90, ../FrontEnd/Projeto - Hostinger/scss/_home.scss */
  .s-hero .text h1 {
    font-size: 4.3rem;
  }
  /* line 94, ../FrontEnd/Projeto - Hostinger/scss/_home.scss */
  .s-hero .image {
    left: -0.9rem;
  }
}

/* line 100, ../FrontEnd/Projeto - Hostinger/scss/_home.scss */
.s-resources {
  padding-top: 14.9rem;
  padding-bottom: 9.9rem;
}

/* line 103, ../FrontEnd/Projeto - Hostinger/scss/_home.scss */
.s-resources .top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5.3rem;
}

/* line 106, ../FrontEnd/Projeto - Hostinger/scss/_home.scss */
.s-resources .top h2 {
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  font-size: 3.2rem;
  line-height: 130%;
  color: #453F51;
  max-width: 50.2rem;
}

/* line 114, ../FrontEnd/Projeto - Hostinger/scss/_home.scss */
.s-resources .top p {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 150%;
  color: #5E5570;
}

/* line 121, ../FrontEnd/Projeto - Hostinger/scss/_home.scss */
.s-resources .content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

/* line 123, ../FrontEnd/Projeto - Hostinger/scss/_home.scss */
.s-resources .content .icon {
  width: 6.4rem;
  height: 6.4rem;
  background-color: rgba(197, 190, 220, 0.1);
  border-radius: 1.2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}

/* line 131, ../FrontEnd/Projeto - Hostinger/scss/_home.scss */
.s-resources .content .info {
  max-width: 23.9rem;
}

/* line 133, ../FrontEnd/Projeto - Hostinger/scss/_home.scss */
.s-resources .content .info h4 {
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: #5F3CA1;
  margin-bottom: 2rem;
}

/* line 140, ../FrontEnd/Projeto - Hostinger/scss/_home.scss */
.s-resources .content .info p {
  font-size: 1.6rem;
  line-height: 165%;
  color: #5E5570;
}

/* line 146, ../FrontEnd/Projeto - Hostinger/scss/_home.scss */
.s-resources .content .card-featured {
  width: 100%;
  max-width: 28rem;
  width: 28rem;
  height: 32.3rem;
  background: #c5bedc;
  border-radius: 1.2rem;
  padding-top: 4.1rem;
  padding-left: 4.2rem;
}

/* line 155, ../FrontEnd/Projeto - Hostinger/scss/_home.scss */
.s-resources .content .card-featured .icon {
  background-color: #fff;
}

/* line 158, ../FrontEnd/Projeto - Hostinger/scss/_home.scss */
.s-resources .content .card-featured .info {
  max-width: 20.4rem;
}

/* line 162, ../FrontEnd/Projeto - Hostinger/scss/_home.scss */
.s-resources .content ul {
  width: 100%;
  max-width: 90.4rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 4.1rem;
  border-bottom: 0.3rem solid rgba(95, 60, 161, 0.1);
  padding-bottom: 6.5rem;
  padding-left: 2rem;
}

@media (max-width: 991px) {
  /* line 175, ../FrontEnd/Projeto - Hostinger/scss/_home.scss */
  .s-resources .container .content {
    flex-direction: column;
    align-items: flex-start;
  }
  /* line 178, ../FrontEnd/Projeto - Hostinger/scss/_home.scss */
  .s-resources .container .content .card-featured {
    width: 100%;
    max-width: 100%;
    height: auto;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  /* line 184, ../FrontEnd/Projeto - Hostinger/scss/_home.scss */
  .s-resources .container .content .card-featured .info {
    max-width: 100%;
  }
  /* line 186, ../FrontEnd/Projeto - Hostinger/scss/_home.scss */
  .s-resources .container .content .card-featured .info h4, .s-resources .container .content .card-featured .info p {
    text-align: center;
  }
}

@media (max-width: 768px) {
  /* line 100, ../FrontEnd/Projeto - Hostinger/scss/_home.scss */
  .s-resources {
    padding-top: 10rem;
    padding-bottom: 5rem;
  }
  /* line 198, ../FrontEnd/Projeto - Hostinger/scss/_home.scss */
  .s-resources .top {
    flex-direction: column;
  }
  /* line 200, ../FrontEnd/Projeto - Hostinger/scss/_home.scss */
  .s-resources .top h2 {
    text-align: center;
    margin-bottom: 2rem;
  }
  /* line 206, ../FrontEnd/Projeto - Hostinger/scss/_home.scss */
  .s-resources .content ul {
    gap: 2.5rem;
  }
}

@media (max-width: 480px) {
  /* line 100, ../FrontEnd/Projeto - Hostinger/scss/_home.scss */
  .s-resources {
    padding-top: 6rem;
  }
  /* line 215, ../FrontEnd/Projeto - Hostinger/scss/_home.scss */
  .s-resources .content ul {
    flex-direction: column;
    padding-left: 0rem;
    margin-top: 3rem;
  }
  /* line 219, ../FrontEnd/Projeto - Hostinger/scss/_home.scss */
  .s-resources .content ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  /* line 221, ../FrontEnd/Projeto - Hostinger/scss/_home.scss */
  .s-resources .content ul li h4, .s-resources .content ul li p {
    text-align: center;
  }
  /* line 226, ../FrontEnd/Projeto - Hostinger/scss/_home.scss */
  .s-resources .content .info {
    max-width: 95%;
  }
}

/*# sourceMappingURL=main.css.map */